.DS_Store
__pycache__/
*.py[cod]
.cache/
.mplconfig/
.matplotlib/
.vscode/
.idea/
.venv/
6th_practice_image_0407/cromate_cnn_anomaly/cnn_model.pth
5th_project_0331/5th_practice_numerical/welding_predictive_maintenance/processed_dataset.pt

# Exclude files larger than 10MB
1_수업자료/제조 데이터 분석과 최적화_통합.pdf
1_수업자료/제조 데이터 분석과 최적화(3주차 - 제조데이터란).pdf
1_수업자료/제조 데이터 분석과 최적화(4주차 - 제조데이터 수집 및 처리 방법).pdf
1_수업자료/제조 데이터 분석과 최적화(5주차 - 제조 데이터 기반 AI 개발, 수치 데이터).pdf
1_수업자료/제조 데이터 분석과 최적화(6주차 - 제조 데이터 기반 AI 개발(이미지 데이터).pdf
*.wav
*.mp3
*.mp4
*.avi
*.mov
7th_KAMP_sound_0414/FAN_sound_error/
7th_KAMP_sound_0414/FAN_sound_OK/
7th_MIMII_sound_0414/
12th_termproject/*
!12th_termproject/0_results_ess_pipeline_8sites_12mon_ver5/
!12th_termproject/0_results_ess_pipeline_8sites_12mon_ver5/**
!12th_termproject/2_8site_datasets_12(Claude)/
12th_termproject/2_8site_datasets_12(Claude)/*
!12th_termproject/2_8site_datasets_12(Claude)/ess_pipeline_8sites_12mon_ver5.py
0_Termproject/
6th_practice_image_0407/mvtec/
6th_homework_0421/mvtec/
5th_homework_0421/models/
